:root {
    --primary-color: #3B429F;
    --secondary-color: #63a46c;
    --primary-hover-color: #2e3477;
    --secondary-hover-color: #449dd1;
    --font-color: #333;
    --background-color: #eaeaea;
    --font-family: 'Inter', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, sans-serif;
}


::selection {
    background-color: var(--primary-color);
    color: #fff;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: var(--font-family);
    background-color: var(--background-color);
    color: var(--font-color);
    padding: 20px;
}

#title {
    font-size: 2.5rem;
    font-weight: 300;
    text-align: center;
    margin-bottom: 20px;
}

.navbar-custom {
    background-color: var(--background-color);
}

.btn-custom {
    background-color: var(--background-color);
    color: var(--font-color);
    border: solid 1px var(--primary-color);
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.btn-custom:hover {
    background-color: var(--primary-hover-color);
    color: var(--background-color);
}